

.cla {
  position:fixed;
  width: 100%;
  z-index: 10;
  font-size: 12px;
}
.sig{
  margin-left: 100px;
}
.Box img{
 height: 50px;
}
.cla{
background-color: #4CAF50;
padding: 0px;
}
.btn{
color: #fff;

}
.nav-link{
font-size: 170%;
color: #fff;
}
.nav-item a{
color: #fff;  
}
