.signup-page-container {
    margin: 0px;
    padding-left: 10vw;
    padding-right: 10vw;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center ;
    background-color: rgb(255, 255, 255);
    fill: rgb(125, 126, 235);
    background-size: 642px 642px;
    background-repeat: repeat;
  }
.signup-page {
    background: linear-gradient(
    90deg,
    #6eb6e6,
    #e8eefe,
    54%,
    #13f7b2,
    54%,
    #ffffff
  );
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-around;
  border-radius: 30px;
  padding: 2vh;
   
  }
  .cuh_logoSign{
    width:40%;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    
  }
  
  .signup-form {
  width: 41.5%;
  display: grid;
  place-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  }
  h2{
    margin-top: 8vh;
    color: rgb(128, 122, 119);
    text-align: center;
  
  }
  form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .full-name {
    width: 100%;
    display: flex;
    gap: 10px;
  }
  
 input {
    font-size: 15px;
    border: none;
    outline: none;
    color: black;
    padding: 10px 3px;
    background: transparent;
    border-bottom: 3px solid rgb(204, 211, 218);
  }
  input:focus {
    border-bottom: 4px solid #76b1f5;
  }
  .signup-form [type="submit"] {
    width: 35%;
    border: none;
    font-size: 17px;
    align-self: center;
    background-color: #429bf3;
    color: whitesmoke;
    border-radius: 35px;
    padding: 10px 0px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  }
  .signup-form [type="submit"]:focus {
    border: none;
  }
  /* .logo {
    margin: auto;
  }
  .logo p:nth-child(1) {
    background-color: #88c4fd;
  }
  .logo p:nth-child(2) {
    color: #94b6f5;
  } */
   #welcome-signup {
    position: absolute;
  top: 1vh;
  left: 0vw;
  padding: 9px 13px;
  background: linear-gradient(
    130deg,
    rgb(47, 113, 255),
    #7d97f4,
    rgb(78, 122, 255)
  );
  color: white;
  border-radius: 0px 40px 40px 0px;
  }
  .retype-pass {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1px 3px; */
    background: transparent;
    /* border-bottom: 3px solid rgb(204, 211, 218) */
    position: relative;
  }
   .retype-pass i {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  .retype-pass input {
    width: 100%;
    /* border-bottom: none !important; */
  }
  .logo {
    position: relative;
    left: 80px;
  }

 .gender{
   display: flex;
   justify-content: center;
   align-items: center;
   gap:20px;
   font-size: 15px;
 }
 .gender label{
   display: flex;
   justify-content: center;
   align-items: center;
 }

 
@media only screen and (min-width:750px)  {
  h2{
    position: relative;
    left: 10px;
  }
  input{
    margin:2vh,6vw
  }
  #password{
    margin-top: 0vh;
    margin-bottom: 0vh;
    margin-left: 0vw;
  }
  #e_mail{
    margin-top: 0vh;
    margin-left: 0vw;

  }
}

@media only screen and (max-width:750px)  {
  .signup-page{
    display: flex;
    flex-direction: column;
    background: linear-gradient(
    180deg,
    #6eb6e6,
    #e8eefe,
    100%,
    #13f7b2,
    65%,
    #ffffff
  );
  }
  .signup-form{
    width: 110%;
    padding-right: 3vw;
  }
  .signup-page-container{
    padding-left: 2vw;
    padding-right: 2vw;
  }
  #welcome-signup{
    display: none;
  }
  .cuh_logoSign{
    display: flex;
    justify-content: center;
    margin-left: 26vw
  }
  .gender{
    padding-right: 26vw;
  }
}