/* #internship-image{
    border: 1px solid rgba(0, 0, 0, 0.281);
    background-image: url('../../Front-Page/Images/Job.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.Cards{
    display: flex;
    flex-direction: row;
    margin: 15px;
    background-color: white;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.4);
    border: 1px solid red;
} 
.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid green;
}
.card .card-body{
    display: flex;
    flex-direction: column;
}

.card img{
    width: 400px;
} */

.virtual-courses-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tiles-container{
    width: 100%;    /* border: 1px solid red; */
}
.tiles-container .tiles{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(154, 160, 165);
    border-radius: 10px;
    height: 40vh;
    /* margin: 40px 0; */
}
.tiles-container .tiles .profile-image{
    width: 30%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.tiles-container .tiles .profile-image img{
    /* height: 60px; */
    width: 100%;
}
.tiles-container .tiles .profile-image img:hover{
    opacity: 0.8;
    cursor: pointer;
}
.tiles-container .tiles .details{
    width: 70%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.tiles-container .tiles .details .category{
    /* background: #FF385C; */
    width: fit-content;
    /* height: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    font-size: 15px;
    /* border: 1px solid black; */

}
.tiles-container .tiles .details .category .link h2{
    font-size: 15px;
    line-height: 17px;
    color: #000;
}
.tiles-container .tiles .details .category .link h2:hover{
    color: #000;
}
.tiles-container .tiles .details .title{
    font-size: 15px;
}
.tiles-container .tiles .details .link{
    text-decoration: none;
    color: #000;
}
/* .tiles-container .tiles .details .title:hover{
    color: #FF385C;
} */
.tiles-container .tiles .details .specifications{
    display: flex;
    justify-content: space-between;
}
.tiles-container .tiles .details .specifications .specification-name{
    display: flex;
    justify-content: space-between;
}
.tiles-container .tiles .details .specifications .specification-name .icon{
    color: #FF385C;
}
.tiles-container .tiles .details .description{
    /* margin: 3% 0; */
    font-weight: 50;
}
.tiles-container .tiles .details .button-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
.tiles-container .tiles .details .button-group p{
    font-size: 20px;
    font-weight: 600;
}
.tiles-container .tiles .details .button-group .button{
    background: #FF385C;
    color:#fff;
    border: none;
    /* height: 50px; */
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    line-height: 20px;
}
.tiles-container .tiles .details .button-group .button::hover{
    color: #ddcdd0;
}
.tiles-container .tiles .details .button-group .button .link{
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 768px){
    .tiles-container .tiles{
        flex-direction: column;
        height: 100%;
    }
    .tiles-container .tiles .profile-image{
        width: 100%;
    }
    .tiles-container .tiles .details{
        width: 100%;
    }
    .tiles-container .tiles .details .specifications{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

}